static/res/advanced_mathA1
static/res/advanced_mathA2
static/res/advanced_mathB2
static/res/algebraA
static/res/introduction_to_Mao_Zedong_thought_and_the_theoretical_system_of_socialism_with_chinese_characteristics
static/res/outline_of_modern_and_contemporary_history
static/res/principles_of_marxism
static/res/probability_theory_and_mathematical_statistics
static/res/structure
static/res/university_physics_experiment
static/res/university_physicsB2
*.exe
*.out
4.md